<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compound vs Simple Interest</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/activity1.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <nav style="padding-left: 1.5%; position: relative;text-align: center;">
        <a href="{{url_for('dashboard')}}">Dashboard</a>
        <a href="{{url_for('activities')}}" style="text-decoration: underline;">Activities</a>
        <a href="{{url_for('blogs')}}">Blogs</a>
    </nav>
</head>

<body>
    <section class="container">
        <div class="calculator">
            <div class="heading">
                <h3>Compound Interest Calculator</h3>
            </div>
            <form class="compound-form">
                <div class="input-group">
                    <label for="initialamount">Initial Amount Invested</label>
                    <input type="number" id="initialamount" />
                </div>
                <div class="input-group">
                    <label for="years">Investment Years</label>
                    <input type="number" id="years" />
                </div>
                <div class="input-group">
                    <label for="rates">Compound and Interest Rate (%)</label>
                    <input type="number" id="rates" />
                </div>
                <div class="input-group">
                    <label for="rates">Compound Interval</label>
                    <select id="compound">
                        <option value="1">Annualy</option>
                        <option value="4">Quartely</option>
                        <option value="2">Semiannualy</option>
                        <option value="12">Monthly</option>
                    </select>
                </div>
                <div class="input-group">
                    <button>Calculate</button>
                </div>
            </form>
        </div>
        <div class="results">
            <h3 id="message"></h3>
            <canvas id="data-set"></canvas>
            <h3 id="message2"></h3>
            <canvas id="data-set2"></canvas>
        </div>
    </section>
    <script src="{{ url_for('static',filename='js/activity1.js') }}"></script>
</body>

</html>