<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savings Calculator</title>
    <script type="text/javascript" src="{{ url_for('static',filename='js/activity4.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>

<body>
    <h1> Savings Calculator</h1>
    <p>
        Starting amount: <input type="text" id="amount" />
      </p>
      <p>
        Rate of return (percent): <input type="text" id="rate" />
      </p>
      <p>
        Years: <input type="text" id="years" />
      </p>
      <input type="button" value="Calculate" onClick="calculate()">
      <input type="button" value="Reset" onClick="reset()">
      <p id='results_table'></p>
</body>

</html>