<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Article</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form.css') }}">
  <nav>
    <a href="{{url_for('dashboard')}}">Dashboard</a>
    <a href="{{url_for('activities')}}" style="text-decoration: underline;">Activities</a>
    <!-- <a href="{{url_for('tools')}}">Tools</a> -->
    <a href="{{url_for('blogs')}}">Blogs</a>
</nav>

</head>

<body>

  <h1 style="margin-top: 5%; text-align: center;">Add a New Article</h1>

  <div class="container" style="margin-top: 3%;">
    <form method="POST" action="" class="form">
      {{ form.hidden_tag() }}

      {{ form.title.label(class = 'form__label') }}
      {{ form.title(class = 'form__input') }} <br>

      {{ form.author.label(class = 'form__label') }}
      {{ form.author(class = 'form__input') }} <br>

      {{ form.desc.label(class = 'form__label') }}
      {{ form.desc(class = 'form__input') }} <br>

      {{ form.date.label(class = 'form__label') }}
      {{ form.date(class = 'form__input') }} <br>

      {{ form.link.label(class = 'form__label') }}
      {{ form.link(class = 'form__input') }} <br>

      <div id = 'button-div'>{{ form.submit(id = 'button') }}</div>
    </form>

  </div>

</body>

</html>