<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/blogs.css') }}">
    <title>Blogs</title>
    <nav style="padding-left: 1.5%; position: relative;text-align: center;">
        <a href="{{url_for('dashboard')}}">Dashboard</a>
        <a href="{{url_for('activities')}}">Activities</a>
        <!-- <a href="{{url_for('tools')}}">Tools</a> -->
        <a href="{{url_for('blogs')}}" style="text-decoration: underline;">Blogs</a>
    </nav>
</head>

<body>
    <h3 class='page-title' style="text-align: center; font-size: 40px;">Blogs</h3>
    <h4 style="text-align: center; font-size: 30px; font-style: italic;">Eager to learn more? Check out our favourite
        blogs on financial discipline!</h4>
    <!-- <div class="center">
        <div class="article-card">
            <div class="content">
                <p class="date">Jan 1, 2022</p>
                <p class="title">Article Title Goes Here</p>
            </div>
            <img src="https://images.unsplash.com/photo-1482877346909-048fb6477632?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=958&q=80"
                alt="article-cover" />
        </div>
    </div> -->
    <div class="container">
        {% for article in articles %}
        <div class="card">
            <!-- <div class="card__header">
            </div> -->
            <div class="card__body">
                <!-- <span class="tag tag-blue">Technology</span> -->
                <h4>{{article.title}}</h4>
                <p style="font-size: 20px;">{{article.desc}}</p>
                <div class="user">
                    <div class="user__info">
                        <h5 style="font-size: 18px;">{{article.author}}, {{article.date}}</h5>
                        <a style="font-size: 16px;" href="{{article.link}}" target=”_blank”>Read More >></a>
                        <!-- <small>2h ago</small> -->
                    </div>
                </div>
            </div>
            <!-- <div class="card__footer">
                <div class="user">
                    <div class="user__info">
                        <h5 style="font-size: 15px;">{{article.author}}, {{article.date}}</h5>
                        <a href="{{article.link}}">Read More >></a>
                    </div>
                </div>
            </div> -->
        </div>
        {% endfor %}
        <!-- <div class="card">
            <div class="card__header">
            </div>
            <div class="card__body">
                <span class="tag tag-brown">Food</span>
                <h4>Delicious Food</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo
                    doloribus. Doloremque, nihil! At ea atque quidem!</p>
            </div>
            <div class="card__footer">
                <div class="user">
                    <div class="user__info">
                        <h5>Jony Doe</h5>
                        <small>Yesterday</small>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="card">
            <div class="card__header">
            </div>
            <div class="card__body">
                <span class="tag tag-red">Automobile</span>
                <h4>Race to your heart content</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo
                    doloribus. Doloremque, nihil! At ea atque quidem!</p>
            </div>
            <div class="card__footer">
                <div class="user">
                    <div class="user__info">
                        <h5>John Doe</h5>
                        <small>2d ago</small>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- <div style="display: flex; justify-content: center; align-items: center;">
        {% for article in articles %}
        <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container">
                <h3><b>{{article.title}}</b></h3>
                <h5>{{article.author}}, {{article.date}}</h5>
            </div>

            <div class="w3-container">
                <p>{{article.desc}}</p>
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <div class="w3-container">
                            <a href="{{article.link}}" target=”_blank”><b>READ MORE»</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> -->


    <!-- <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
            <h3><b>BLOG ENTRY</b></h3>
            <h5>Title description, <span class="w3-opacity">April 2, 2014</span></h5>
        </div>

        <div class="w3-container">
            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem
                euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed
                ultricies mi non congue ullam corper. Praesent tincidunt sed
                tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida
                diam non fringilla.</p>
            <div class="w3-row">
                <div class="w3-col m8 s12">
                    <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE
                                »</b></button></p>
                </div>
            </div>
        </div>
    </div> -->
</body>

</html>