.center-body {
    text-align: center;
}

#desc {
    color: #4D7C8A;
    padding-top: 15px;
    font-size: 30px;
    font-family: "Trebuchet MS", sans-serif;
}

#dashboard-container {
    width: 100%;
    border-spacing: 20px;
}

.dashboard-subcontainer {
    height: 100%;
    border: 2px solid #1B4079;
    border-radius: 30px;
    background-color: #f8f9f3;
    margin-left: 10px;
    margin-right: 10px;
}

#button-dashboard {
    display: inline-block;
    width: 75%;
    min-width: 65px;
    margin: 3% 2% 7% 2%;
    padding: 2%;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    background-color: #1B4079;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.dashboard-subcontainer:hover {
    box-shadow: 10px 10px 10px gray;
}

.dashboard-desc {
    padding: 2%;
    font-size: 18px;
}

.dashboard-heading {
    padding: 2%;
    font-size: 28px;
}

.page-title {
    font-size: 35px;
}

nav a {
    display: inline-block;
    width: 18%;
    min-width: 65px;
    margin: 1% 2% 1% 2%;
    padding: 1%;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
    border: 1px solid #333333;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

nav {
    background-color: #1B4079;
    padding: 0.5%;
    margin-bottom: 3%;
    border: 1px solid #333333;
}